.navIcon{
    position: fixed;
    background: url('https://res.cloudinary.com/dvug8hy5k/image/upload/v1607318693/Portfolio1/Black_and_White_DS_Logo_12_xydkb9.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
    margin: 10px;
    filter:drop-shadow(8px 8px 10px gray);
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: #71A9F7;
    font-weight: bold;
}
.navBox{
    height: 100%;
    /* background-color: rgba(128, 128, 128, 1); */
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 0;
    transition: all 1s;
}
.width1 {
    width: 50%;
}
.navLink {
    font-size: 36px;
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;

}
.bannerContainer{
    background-image: url('https://res.cloudinary.com/dvug8hy5k/image/upload/v1607229769/Portfolio1/nicole-y-c-etw7KoIn3Gw-unsplash_1_gm0joc.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    font-size: 25px;
}


#hello{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 225px;
    background-color: rgba(0, 0, 0, .65);
    color: white;
    padding: 5px;

}
#name{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    font-size: 45px;
    background-color: rgba(0, 0, 0, .65);
    color: white;
    padding: 5px;
    letter-spacing: 10px;
    font-family: 'Great Vibes', cursive;
}



.aboutContainer{
    margin: 0 auto;
    background-image: url('https://res.cloudinary.com/dvug8hy5k/image/upload/v1607286294/Portfolio1/cropped-Fotolia_119561214_Subscription_Yearly_XXL_PLUS-2-2000x1014_oy6nhy.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color:white;

}

.aboutText{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.aboutText div{
    overflow: hidden;
}
.contentBox{
    width: 70%;
    max-width: 500px;
    padding: 7px;
    margin: 0 auto;
}

#myPic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#aboutMe{
    width: 100%;
    text-align: justify;
}


.imageContainer{
    background-image: url('https://res.cloudinary.com/dvug8hy5k/image/upload/v1607295198/Portfolio1/highres_493679678_gs2ktm.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}

.projectContainer1{
    margin: 0 auto;
    color: white;
    background-image: url('https://res.cloudinary.com/dvug8hy5k/image/upload/v1607286294/Portfolio1/cropped-Fotolia_119561214_Subscription_Yearly_XXL_PLUS-2-2000x1014_oy6nhy.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.projectImage1{
    background-image: url('https://res.cloudinary.com/dvug8hy5k/image/upload/v1607299180/Portfolio1/Screenshot_2020-12-06_155912300_oah1qq.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}

.projectContainer2{
    color: white;
    background-image: url('https://res.cloudinary.com/dvug8hy5k/image/upload/v1607286294/Portfolio1/cropped-Fotolia_119561214_Subscription_Yearly_XXL_PLUS-2-2000x1014_oy6nhy.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.projectImage2{
    background-image: url('https://res.cloudinary.com/dvug8hy5k/image/upload/v1607133056/Portfolio1/the_man_called_cayde_by_vulshokbersrker_dcxfgx8-fullview300_gly2rl.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}
.projectContainer3{
    color: white;
    background-image: url('https://res.cloudinary.com/dvug8hy5k/image/upload/v1607286294/Portfolio1/cropped-Fotolia_119561214_Subscription_Yearly_XXL_PLUS-2-2000x1014_oy6nhy.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.projectImage3{
    background-image: url('https://res.cloudinary.com/dvug8hy5k/image/upload/v1607298374/Portfolio1/Screenshot_2020-12-06_154559_nbceix.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}
.projectContainer4{
    color: white;
    background-image: url('https://res.cloudinary.com/dvug8hy5k/image/upload/v1607286294/Portfolio1/cropped-Fotolia_119561214_Subscription_Yearly_XXL_PLUS-2-2000x1014_oy6nhy.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.projectImage4{
    background-image: url('https://res.cloudinary.com/dvug8hy5k/image/upload/v1607299876/Portfolio1/Screenshot_2020-12-06_161059_ztun6i.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    width: 100%;
}
.contactContainer{
    color: white;
    background-image: url('https://res.cloudinary.com/dvug8hy5k/image/upload/v1607286294/Portfolio1/cropped-Fotolia_119561214_Subscription_Yearly_XXL_PLUS-2-2000x1014_oy6nhy.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 20px;
}

.flexContainer{
    display: flex;
    padding: 15px;
}

.header{
    font-size: 60px;
}
.contact{
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    #hello{
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
        width: 225px;
        background-color: rgba(0, 0, 0, .65);
        color: white;
        padding: 5px;
    }

    #name{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
        font-size: 40px;
        background-color: rgba(0, 0, 0, .65);
        color: white;
        padding: 5px;
        letter-spacing: 10px;
        font-family: 'Great Vibes', cursive;
        text-align: center;
    }
    #myPic{
        border-radius: 50%;
        height: 175px;
        width: 175px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .aboutText{
        flex-direction: column;
    }
    .contentBox{
        width: 100%;
        margin: 0 auto;
        padding-top: 20px;
    }
    .header{
        font-size: 50px;
    }

    .contact{
        text-align: center;
        font-size: 18px;
    }
}

@media screen and (max-width: 425px) {
    .bannerContainer{
        background-image: url('https://res.cloudinary.com/dvug8hy5k/image/upload/v1607229769/Portfolio1/nicole-y-c-etw7KoIn3Gw-unsplash_1_gm0joc.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;
    }
    
    #hello{
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
        width: 225px;
        background-color: rgba(0, 0, 0, .65);
        color: white;
        padding: 5px;
    }

    #name{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
        font-size: 35px;
        background-color: rgba(0, 0, 0, .65);
        color: white;
        padding: 5px;
        letter-spacing: 10px;
        font-family: 'Great Vibes', cursive;
        width: 80%;
        text-align: center;
    }
    #myPic{
        border-radius: 50%;
        height: 150px;
        width: 150px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .header{
        font-size: 40px;
    }

    .contact{
        text-align: center;
        font-size: 18px;
    }

}